@using LAB.Catalogo.Models;
@model IEnumerable<Produto>;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Camisetas</h1>

</div>

<div class="row">
    @foreach (var prod in Model)
    {
        <div class="col-md-3 p-2">
            <div class="card" style="height: 560px;">
                <img class="card-img-top" src="@prod.Imagem" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@prod.Nome</h5>
                    <p class="card-text">@prod.Descricao.</p>
                    <p><strong>R$ @prod.Preco</strong></p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                    <div>@prod.Categoria</div>
                </div>
            </div>
        </div>
    }
</div>
